

vis-wrapper {
    border: 1px dashed transparent;
}

vis-wrapper.add-active {
    border: 1px dashed #007bff;
    cursor: copy;
}

vis-wrapper.add-edge-active {
    border: 1px dashed #007bff;
}

.vis-view {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.network-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

.network-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 50px;
    min-height: 50px;
    width: 100%;
}

.network-toolbar vaadin-button {
    background-color: aliceblue;
}

.network-editor {
    width: 25%;
    max-width: 25%;
    margin: 0px;
    background-image: linear-gradient(to right, #CFDEF3, #E0EAFC);
}

.network-toolbar vaadin-button {
    margin: 2px;
}

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
}

.buttons-container vaadin-button {
    background-color: aliceblue;
}

.dynamic-form {
    padding: 0px;
    width: 100%;
    margin-top: 0px;
}

.textfield-compact {
    width: 100%;
    margin-top: 0px;
}

vis-network {
    outline: 0;
}

.draggable-button {
    margin:10px 0px;
    min-height: 36px;
    white-space: nowrap ;
    border-width: 3px 17px;
    box-sizing:border-box;
    border-color: transparent;
    border-style: solid;
    color: var(--_lumo-button-color, var(--lumo-primary-text-color));
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    cursor: move;
    border-radius: 0.25em;
    width: 100%;
    padding: 0px 8px;
    padding-top: 2px;
    background-color: var(--_lumo-button-background-color, var(--lumo-contrast-5pct));
    text-align: center;
}

.draggable-button:hover{
    background-color:rgba(25, 59, 103, 0.05);
}


.v-dragged{
    opacity: 0.5;
    transform: scale(0.8);
    transition: 1 ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
}

.step-container.active{
    border: 2px solid #66E03A !important;
}

.step-container {
    border: 1px solid gray;
    padding: 7px;
}

.step-container img{
    border:1px solid #ccc;
    width: 150px;
    height: auto;
    flex-shrink: 0;
    background-color: white;
}
